@font-face {
    font-family: airbnb2;
    src: url("/assets/font/AirbnbCereal_W_Md.otf");
}

.navbar li a {
    text-decoration: none;
    color: #2E266F;
    font-size: 15px;
    margin-left: 30px;
    font-family: airbnb2;
}

.navbar li a:hover {
    color: white;
    font-size: large;
    border: 1px solid #EFC81A;
    box-shadow: 0px 4px 10px 3px rgba(0, 0, 0, 0.11);
    border-radius: 6px;
    width: 345px;
    font-family: airbnb2;
    height: 40px;
    size: 16px;
    padding: 6px;
    box-sizing: border-box;
    height: 50px;
    background-color: #EFC81A !important;
}

.navbar li {
    list-style: none;
}

.add-recipes textarea {
    width: 100%;
    justify-items: center;
    border-radius: 10px;
    background-color: #F6F5F4;
    border: none;
    resize: none;
    padding: 25px;
    color: #666666;
}

.add-recipes input {
    width: 100%;
    background-color: #F6F5F4;
    border-radius: 10px;
    border: none;
    padding: 25px;
    color: #666666;
}

.btn-warning{
    background-color: #EFC81A !important;
    color: white !important;
    width: 345px;
    height: 40px;
    size: 16px;
    padding: 6px;
    box-sizing: border-box;
    height: 50px;
    border: 1px solid #EFC81A;
    box-shadow: 0px 4px 10px 3px rgba(0, 0, 0, 0.11);
    border-radius: 6px;
}

/* CSS FOOTER */
footer {
    background-color: #EFC81A;
    height: 350px;
}

footer h1 {
    color: #2E266F;
    font-size: 50px;
    padding-top: 120px;
    font-family: airbnb2;
}

footer span {
    color:  #707070;
    
}

footer ul li {
    color: #707070;;
    font-size: 15px;
    list-style: none;
    margin-top: 90px;
}

@media screen and (max-width:720px){
    .btn-warning {
        background-color: #EFC81A !important;
        color: white !important;
        width: 100%;
        height: 40px;
        size: 16px;
        padding: 6px;
        box-sizing: border-box;
        height: 50px;
        border: 1px solid #EFC81A;
        box-shadow: 0px 4px 10px 3px rgba(0, 0, 0, 0.11);
        border-radius: 6px;
    }

    .navbar ul li {
        display: list-item;
        padding-bottom: 10px;
    }
}