@font-face {
    font-family: airbnb2;
    src: url("/assets/font/AirbnbCereal_W_Md.otf");
}

@font-face {
    font-family: airbnb;
    src: url('/assets/font/AirbnbCereal_W_Bd.otf');
}

.container-fluid {
    height: 900px;
}

.side-left {
    background-color: #EFC81A;
    height: 930px;
}

.side-right li a {
    text-decoration: none;
    color: #2E266F;
    font-size: 15px;
    margin-left: 30px;
    font-family: airbnb2;
}

.side-right li a:hover {
    color: white;
    font-family: airbnb2;
    font-size: large;
    border: 1px solid #EFC81A;
    box-shadow: 0px 4px 10px 3px rgba(0, 0, 0, 0.11);
    border-radius: 6px;
    width: 345px;
    height: 40px;
    size: 16px;
    padding: 6px;
    box-sizing: border-box;
    height: 50px;
    background-color: #EFC81A !important;
}

.side-right li {
    list-style: none;
}

.side-right video {
    height: 350px;
    width: 100%;
}

.side-right .side-right-video h3 {
    font-family: airbnb2;
}

.side-right .side-right-video h6 {
    color: #AAAAAA;
}

.side-right .side-right-video-list h3 {
    font-family: airbnb;
}

.side-right .side-right-video-list .card {
    border: none;
    width: 100%;
}

.side-right .side-right-video-list .card-body {
    padding: 0px;
}

.side-right .side-right-video-list .card-body span {
    color: #AAAAAA;
}

.side-right .side-right-video-list .card h6 {
    font-family: airbnb2;
    padding-top: 10px;
}



@media screen and (max-width:720px){
    .side-right video {
        height: 200px;
        width: 100%;
    }

    .side-left {
        display: none;
    }
}